<main class="container">
  <%= simple_form_for(
      :search,
      method: :get,
      html: {
        class: 'block',
        data: {
          turbo_frame: 'game_list',
          turbo_action: 'advance',
          controller: 'form',
          action: 'input->form#submit'
        }
      },
      defaults: {
        input_html: { class: "input" },
        label_html: { class: "label" },
        required: false,
        wrapper_html: { class: 'field' }
      }
    )  do |f| %>
    <%= f.input :player, input_html: { autofocus: true, value: @player } %>
    <%= f.input :opponent, value: @opponent, input_html: { value: @opponent } %>
    <%= f.submit "Search", class: "button is-primary", name: "" %>
  <% end %>

  <%= turbo_frame_tag "game_list" do %>
    <div class="block">
      <%= render partial: 'search/game', collection: @games %>
    </div>
  <% end %>
</main>
