<main class="container">
  <%= simple_form_for(
      :search,
      method: :get,
      html: {
        class: 'block',
        data: {
          turbo_frame: 'game_list',
          turbo_action: 'advance',
          controller: 'form',
          action: 'input->form#submit'
        }
      }
    )  do |f| %>

    <div class="field">
      <%= f.label :player, class: "label", required: false%>
      <%= f.select :player, player_data_to_collection(@player), {}, { data: { controller: "select", select_url_value: players_path }} %>
    </div>

    <div class="field">
      <%= f.label :opponent, class: "label", required: false%>
      <%= f.select :opponent, player_data_to_collection(@opponent), {}, { data: { controller: "select", select_url_value: players_path }} %>
    </div>


    <%= f.submit "Search", class: "button is-primary", name: "" %>
  <% end %>

  <%= turbo_frame_tag "game_list" do %>
    <% if @games.is_a?(Array) %>
      <% if @games.any? %>
        <div class="block">
          <%= render partial: 'search/game', collection: @games %>
        </div>
      <% else %>
        <%= render partial: 'search/no_result' %>
      <% end%>
    <% end%>
  <% end %>
</main>
