<!DOCTYPE html>
<html>
  <head>
    <title>Have we dented?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div>
      <h1 class="title has-text-centered">Have we dented?</h1>
    </div>

    <%= yield %>
  </body>
</html>
