<!DOCTYPE html>
<html>
  <head>
    <title>Have we dented?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div>
      <h1 class="title is-size-1 has-text-centered">Have we dented?</h1>
    </div>
    <%= yield %>
  </body>
</html>
